:root {
	--color-fond: #EC7A00;
	--color-enhanced: #F13200;

	--abeille-width: 50px;
	--abeille-height: 50px;

	--ruche-width: 200px;
	--ruche-height: 120px;
	--ruche-border: 10px;
	--ruche-color-arround: #000;
	--ruche-color-inner: #e6b800;

	--donut-diametre: 160px;
	--donut-infos-width: 250px;
}

.abeille {
	width: var(--abeille-width);
	height: var(--abeille-height);
	position: absolute;
	opacity: 0;
	transform: rotate(0deg);
	z-index: 100;
}

.ruche {
	border-radius: var(--ruche-border);
	width: var(--ruche-width);
	height: var(--ruche-height);
	position: absolute;
	top: 50%;
	left: calc(50% - ((var(--ruche-width) / 2)  + var(--ruche-border)));
	background-color: var(--ruche-color-inner);
	border: var(--ruche-border) solid var(--ruche-color-arround);
	text-align: center;
	background-image: url(../images/image-libre.jpg);
	background-size: 100% 100%;
}

.abeille:hover::after {
	content: "Bonjour je suis une abeille et je te déteste.";
	position: fixed;
	top: 0;
	left: 0;
}

.ruche::before {
	content: '';
	position: absolute;
	top: 0;
	left: calc(-1 * var(--ruche-border));
	background-color: #000;
	height: calc(var(--ruche-height) * 2);
	width: var(--ruche-border);
}

.ruche::after {
	content: '';
	position: absolute;
	top: 0;
	left: var(--ruche-width);
	background-color: #000;
	height: calc(var(--ruche-height) * 2);
	width: var(--ruche-border);
}

.donut {
    position: absolute;
}

.donut h2 {
    text-align:center;
    position: absolute;
    line-height: 125px;
    width: 100%;
	opacity: 0;
}

svg {
    transform: rotate(-90deg);
}

.circle_animation {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.donut svg {
	width: var(--donut-diametre);
	height: var(--donut-diametre);
}

.donut_haut {
	top: 15%;
}

.donut_bas {
	top: 55%;
}

.donut_gauche {
	left: calc((-1 * ((var(--donut-diametre) - var(--donut-infos-width)) / 2)) + 50px);
}

.donut_droite {
	left: calc(100% - var(--donut-infos-width));
}

.donut::after {
	width: var(--donut-infos-width);
	left: calc((var(--donut-diametre) - var(--donut-infos-width)) / 2);
	text-align: center;
	position: absolute;
	opacity: 0;
	background-color: rgba(255, 255, 255, 0.2);
	padding: 5px;
}

.donut:hover {
	color: var(--color-enhanced);
	border-radius: 150% 150% 0 0;
	border: 1px solid #000;
	background-color: rgba(255, 255, 255, 0.2);
}

.donut:hover::after {
	border: 1px solid black;
}

.vegetaux::after {
	content: 'Des végétaux sont pollinisés par des insectes. (Dont 45% par les abeilles)';
}

.disparition::after {
	content: "Des colonies d'abeilles disparaissent chaque année.";
}

.alimentation::after {
	content: "Des cultures agricoles mondiales dépendent de la polinisation des abeilles.";
}

.pollens::after {
	content: "Des pollens on disparus en 50 ans.";
}

#LaBeille {
	width: var(--abeille-width);
	height: var(--abeille-height);
}
